@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

.github {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.blog {
  display: grid;
  overflow: hidden;
  grid-template-columns: 15% 20% 45% 20%;
  grid-template-rows: 100%;
  width: 100%;
  padding: 30px 4px;
  position: relative;
}

.blog .is-menu {
  display: flex;
  flex-direction: column;
}

.blog-part > button {
  color: inherit;
}

.blog-part {
  padding: 0 20px;
}

.blog-part:not(:last-child) {
  border-right: 1px solid #94918f;
}

.blog-menu {
  font-size: 22px;
  text-decoration: none;
  display: flex;
  letter-spacing: -0.5px;
  align-items: center;
}

.blog-menu + .blog-menu {
  margin-top: 24px;
}

.blog-menu.mention {
  margin-top: auto;
  font-size: 19px;
  line-height: 34px;
}

.blog-menu.rounded:before {
  content: "";
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  background-color: #e6b74a;
}

.blog-big__title {
  font-size: 90px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 1;
  margin-bottom: 6px;
}

.blog-header {
  display: flex;
  flex-direction: column;
}
.blog-article {
  padding: 0 20px;
}
.blog-article img {
  height: 260px;
  max-height: 22vh;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
}

.page-number {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  font-size: 72px;
  text-align: center;
  letter-spacing: -3px;
  font-weight: lighter;
  font-family: "Space Grotesk", sans-serif;
  border-right: 1px solid #94918f;
  white-space: nowrap;
}

.small-title {
  border-bottom: 1px solid #94918f;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.date {
  display: flex;
  justify-content: flex-end;
}

.GzEqL h2 {
  font-size: 28px;
}
.blog-article h2 {
  margin: 5px 0;
}
.blog-article h2 span {
  /* font-family: "Playfair Display", serif; */
  font-style: italic;
  font-weight: bold;
  margin: 0 10px;
}
.blog-article p {
  line-height: 1.5;
  margin: 14px 0;
}
.blog-article a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: -1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
  border-top: 1px solid #94918f;
  padding-top: 14px;
}
.blog-article a svg {
  width: 22px;
  margin-right: 10px;
}

.blog-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.blog-detail span {
  font-family: "Playfair Display", serif;
}

.blog-header-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  border-right: 1px solid #94918f;
}

.blog-header-container > * {
  flex-shrink: 0;
  min-height: 100%;
  scroll-snap-type: proximity;
  scroll-snap-align: start;
}
.blog-header-container .blog-article:not(.header-article) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

marquee {
  font-size: 20px;
  background-color: #e6b74a;
  color: #121418;
  padding: 6px 0;
  width: calc(100% + 44px);
  margin-left: -20px;
  flex-shrink: 0;
}
marquee span:before {
  display: inline-block;
  content: "";
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  top: -1px;
  vertical-align: baseline;
  background-color: #121418;
  margin: 0 16px;
}

.blog-right {
  overflow: auto;
  height: calc(100% + 60px);
}
.blog-right-page-footer {
  border-top: 1px solid #94918f;
  margin-top: 25px;
  font-style: italic;
  font-size: 30px;
  font-weight: 500;
}

.blog-right-title {
  font-size: 25px;
  font-family: "Playfair Display", serif;
}

.blog-right-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #94918f;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
  letter-spacing: -1px;
}

.blog-title-date {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.blog-right-page {
  font-size: 56px;
  margin-bottom: 16px;
  font-family: "Space Grotesk", sans-serif;
}
.blog-right-page-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 28px;
  font-weight: 600;
  max-width: 16ch;
  letter-spacing: -2px;
}
.blog-right-page-subtitle {
  max-width: 33ch;
  font-size: 15px;
  margin-top: 12px;
  line-height: 1.4;
}

.blog-right-container + .blog-right-container {
  margin-top: 40px;
}

.right-blog {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

.circle {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #121418;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #e9e6e4;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}
.circle-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  font-family: "Space Grotesk", sans-serif;
}

.circle-subtitle {
  max-width: 30ch;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 16px;
}
.circle-footer {
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

@media screen and (max-width: 1400px) {
  .blog-right-title-container {
    margin-top: 88px;
  }
  .blog-big__title {
    font-size: 80px;
  }
}

@media screen and (max-width: 1260px) {
  .blog-right-title-container {
    margin-top: 6vw;
  }
  .page-number {
    font-size: 5vw;
  }
  .blog-big__title {
    font-size: 5.5556vw;
    letter-spacing: -2px;
  }
  .blog-menu {
    font-size: 2vw;
  }
  .blog-menu.mention {
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 1030px) {
  .circle-title,
  .right-blog .blog-menu,
  .blog > .blog-header {
    display: none;
  }
  .blog-right-title-container {
    margin-top: 5vw;
  }
  .blog {
    grid-template-columns: 20% 50% 30%;
  }
}

@media screen and (max-width: 768px) {
  .right-blog {
    display: none;
  }
  .blog-header-container {
    border-right: 0;
  }
  .blog {
    grid-template-columns: 25% 75%;
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 560px) {
  .blog > .is-menu {
    display: none;
  }
  .small-title {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 24px;
    border-bottom: 0;
  }
  .blog-big__title {
    font-size: 364x;
    margin-bottom: 12px;
  }
  .blog {
    grid-template-columns: 100%;
  }
}
